.cheader {
    background-color: #f4f0e0;
    border-top: #183a37 0.3rem solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 975;
}
.cheader h1 {
    font-family: 'Gopher';
    font-size: 2rem;
    color: #432534;
    margin: 0;
    cursor: pointer;
    margin-left: 5rem;
}
.cheader button {
    width: 12rem;
    height: 3rem;
    font-family: 'Gopher';
    background-color: #432534;
    color: #f4f0e0;
    border: #C44900 0.1rem solid;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transform: scale(0.75);
    transition: all 0.5s;
    cursor: pointer;
}
.cheader button:hover {
    background-color: #04151F;
    border-color: #183a37;
    color: #f4f0e0;
    transform: scale(0.85);
}
.cheader button:active {
    background-color: #183a37;
    color: #f4f0e0;
    border-color: #432534;
    transform: scale(0.85);
}
.cicons {
    display: flex;
    gap: 1.5rem;
}
.cicons a {
    color: #C44900;
    transition: all 0.2s;
}
.cicons a:hover {
    animation: shake 1s both ;
    cursor: pointer;
}
@keyframes shake {
    0% { transform: rotate(0deg); }
   50% { transform: rotate(0deg);
        color:#183a37; }
   85% { transform: rotate(25deg) scale(1.05);
        color:#183a37; }
   90% { transform: scale(1.25);
        color:#183a37;}
   95% { transform: rotate(-25deg) scale(1.3);
        color:#183a37; }
  100% { transform: rotate(0deg) scale(1.5);
        color:#183a37; }
  }




.cmain {
    padding-bottom: 3.5rem;
    color: #04151F;
    background-color: #f4f0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cmain h1 {
    font-family: 'Lato';
    font-size: 3.5rem;
    text-align: center;
    padding-top: 5rem;
}
.cmain h2 {
  margin: 0;
  font-size: 2rem;
  font-family: 'Gopher';
  text-align: center;
}




.introduction {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.where {
  height: 75vh;
  padding: 1.5rem;
  margin: 1rem;
}
.where h1 {
  font-size: 2.75rem;
  transition: all 5s;
}
.where h1:hover {
  transform: scale(1.05);
}
.where h2 {
  font-size: 1.5rem;
}
.introduction h1 {
  padding: 0;
  margin-top: 0;
}
.introduction hr {
  margin-top: 5rem;
  background-color: #C44900;
}
.introButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
}
.buttonArea {
  background-color: #04151F;
  width: 100%;
  height: 35vh;
}
#root > main > div.buttonArea > section > button:hover {
  color: #f4f0e0;
  background-color: #432534;
  border-radius: .2rem;
}
.downArrow {
  margin-top: 5rem;
  animation: down 1.5s linear infinite;
}
@keyframes down {
  25% {transform: translate(0, 25%) ;}
  50% {transform: translate(0, 0%) ;}
  75% {transform: translate(0, -25%) ;}
  100% {transform: translate(0, 0);}
}

.help {
  height: 75vh;
}
.help h1 {
  text-align: left;
  padding-top: 0;
  padding-left: 5rem;
  padding-bottom: 2.5rem;
  margin: 0;
}
.traits {
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
  gap: 2rem;
}
.traits h2 {
  font-size: 1.5rem;
}
.traits article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: #C44900 0.1rem solid;
}
.traits aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.traits p {
  text-align: justify;
  font-size: 1.5rem;
  max-width: 40rem;
}
.skills {
  height: 50vh;
  margin-bottom: 10rem;
}
.skills h1 {
  text-align: left;
  padding-top: 0;
  padding-left: 5rem;
  padding-bottom: 2.5rem;
  margin: 0;
}
.works {
  width: 100%;
  height: 95vh;
  justify-content: space-between;
  background-color: #04151F;
  color: #f4f0e0;
}
.works h1 {
  text-align: center;
}
.worksCards {
  height: 60vh;
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
}
.worksCards h2 {
  font-size: 2.5rem;
}
.worksCards p {
  font-size: 1.25rem;
  max-width: 40rem;
  text-align: center;
  background-color: rgba(4, 21, 31, 0.35);
  border-top-right-radius: 0.25rem;
}

#capriCard, #simpCard {
  transition: all 2.5s;
}
#capriCard:hover, #simpCard:hover {
  transform: scale(1.05);
}
#capriCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-image: url(./Images/IMG_0084.webp);
  background-size: cover;
  color: #f4f0e0;
}
#simpCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  background-image: url(./Images/IMG_3612.JPG);
  background-size: cover;
  background-position: 50% 83%;
  color: #04151F;
}
#simpCard p{
  color: #f4f0e0;
  background-color: rgba(4, 21, 31, 0.35);
}





.currentWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  height: 150vh;
  background-image: url(./Images/IMG_0048.webp);
  background-size: cover;
  background-attachment: fixed;
  color: #f4f0e0;
}
.capriMedia {
  width: 35vw;
  height: 50vh;
  background-color: rgba(4, 21, 31, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 5rem;
  transition: all 1s;
}
.capriMedia h1 {
  padding: 0;
}
.capriMedia:hover {
  background-color: rgba(4, 21, 31, 1);
}
.simpcxty {
  width: 35vw;
  height: 50vh;
  background-color: rgba(4, 21, 31, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  transition: all 1s;
}
.simpcxty h1 {
  padding: 0;
}
.simpcxty:hover {
  background-color: rgba(4, 21, 31, 1);
}
.cardButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.cresume {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10rem;
}
.cresume h1 {
  text-align: left;
  padding-top: 0;
  padding-left: 5rem;
  padding-bottom: 2.5rem;
  margin: 0;
}
.cresume section {
  display: flex;
  padding-left: 5rem;
  width: 90%;
  justify-content: space-evenly;
  font-size: 2rem;
}
.cresume li{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.cresume aside {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 4rem;
}
#signoff {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
}
#signoff h1{
  font-size: 3rem;
}




  .popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #C44900 0.2rem dotted;
    background-color: #432534;
    color: #f4f0e0;
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 250vh;
    transition: all 0.4s;
    cursor: pointer;
    z-index: 1000;
  }
  .popupcontents {
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: 'Lato';
    font-size: 1.35rem;
  }
  .popupcontents h1 {
    font-family: 'Gopher';
    font-size: 5rem;
    margin: 0;
  }
  .popupcontents h2 {
    font-size: 2.75rem;
    line-height: 5rem;
  }
  .popupcontents a {
    color: #C44900
  }
  .popupcontents a:active {
    color: #f4f0e0;
  }








  .cfooter {
    background-color: #432534;
  }
  .cfooterTop {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  #cass {
    color: #f4f0e0;
    font-size: 3rem;
    margin: 0;
    cursor: pointer;
  }
  #ccopyright {
    color: #f4f0e0;
    padding: 1rem;
    text-align: justify;
  }
  #ccopyright a {
    color: #f4f0e0;
  }




  .rhap_container {
    position: sticky;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-family: 'Gopher';
    width: 100%;
    padding: 1px 15px;
    background-color: #432534;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 950;
  }
  .rhap_container:focus:not(:focus-visible) {
    outline: 0;
  }
  .rhap_container svg {
    vertical-align: initial;
  }

  .rhap_header {
    margin-bottom: 10px;
  }

  .rhap_footer {
    margin-top: 5px;
  }

  .rhap_main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .rhap_stacked .rhap_controls-section {
    margin-top: 8px;
  }

  .rhap_horizontal {
    flex-direction: row;
  }
  .rhap_horizontal .rhap_controls-section {
    margin-left: 8px;
  }

  .rhap_horizontal-reverse {
    flex-direction: row-reverse;
  }
  .rhap_horizontal-reverse .rhap_controls-section {
    margin-right: 8px;
  }

  .rhap_stacked-reverse {
    flex-direction: column-reverse;
  }
  .rhap_stacked-reverse .rhap_controls-section {
    margin-bottom: 8px;
  }

  .rhap_progress-section {
    display: flex;
    flex: 3 1 auto;
    align-items: center;
  }

  .rhap_progress-container {
    display: flex;
    align-items: center;
    height: 20px;
    flex: 1 0 auto;
    align-self: center;
    margin: 0 calc(10px + 1%);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }
  .rhap_progress-container:focus:not(:focus-visible) {
    outline: 0;
  }

  .rhap_time {
    color: #f4f0e0;
    font-size: 16px;
    -webkit-user-select: none;
    user-select: none;
  }

  .rhap_progress-bar {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 5px;
    background-color: #C44900;
    border-radius: 2px;
  }

  .rhap_progress-filled {
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: #C44900;
    border-radius: 2px;
  }

  .rhap_progress-bar-show-download {
    background: linear-gradient(270deg, rgba(6,35,52,1) 0%, rgba(74,57,112,1) 100%);
  }

  .rhap_download-progress {
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #04151F ;
    border-radius: 2px;
  }

  .rhap_progress-indicator {
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    top: -8px;
    background: #f4f0e0;
    border-radius: 50px;
    box-shadow: rgba(134, 134, 134, 0.5) 0 0 5px;
  }

  .rhap_controls-section {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
  }

  .rhap_additional-controls {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
  }

  .rhap_repeat-button {
    font-size: 26px;
    width: 26px;
    height: 26px;
    color: #C44900;
    margin-right: 6px;
  }

  .rhap_main-controls {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rhap_main-controls-button {
    margin: 0 3px;
    color: #C44900;
    font-size: 35px;
    width: 35px;
    height: 35px;
  }

  .rhap_play-pause-button {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }

  .rhap_volume-controls {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: center;
  }

  .rhap_volume-button {
    flex: 0 0 26px;
    font-size: 26px;
    width: 26px;
    height: 26px;
    color: #C44900;
    margin-right: 6px;
  }

  .rhap_volume-container {
    display: flex;
    align-items: center;
    flex: 0 1 100px;
    -webkit-user-select: none;
    user-select: none;
  }

  .rhap_volume-bar-area {
    display: flex;
    align-items: center;
    width: 100%;
    height: 14px;
    cursor: pointer;
  }
  .rhap_volume-bar-area:focus:not(:focus-visible) {
    outline: 0;
  }

  .rhap_volume-bar {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 4px;
    background: #C44900;
    border-radius: 2px;
  }

  .rhap_volume-indicator {
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    left: 0;
    top: -4px;
    background: #f4f0e0;
    opacity: 0.9;
    border-radius: 50px;
    box-shadow: rgba(134, 134, 134, 0.5) 0 0 3px;
    cursor: pointer;
  }
  .rhap_volume-indicator:hover {
    opacity: 0.9;
  }
  .rhap_volume-filled {
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: #C44900;
    border-radius: 2px;
  }

  /* Utils */
  .rhap_button-clear {
    background-color: transparent;
    border: none;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
  }
  .rhap_button-clear:hover {
    opacity: 0.9;
    transition-duration: 0.2s;
  }
  .rhap_button-clear:active {
    opacity: 0.95;
  }
  .rhap_button-clear:focus:not(:focus-visible) {
    outline: 0;
  }





  /* Medium/Small Laptop screen formatting for smooth transitions */
@media screen and (min-width:1021px) and (max-width: 1500px) {
  .popup {
    height: 300vh;
  }
  .popupcontents {
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: 'Lato';
    font-size: 1.15rem;
  }
  .popupcontents h1 {
    font-family: 'Gopher';
    font-size: 4.5rem;
    margin: 0;
    padding: 1rem;
  }
  .popupcontents h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}


/* Mobile/Tablet styling Below */
@media screen and (max-width: 1020px) {
  .cheader {
    width: 100%;
  }
  .cheader h1 {
    font-size: 1rem;
    margin: 0;
  }
  .cheader button {
    display: none;;
  }
  .cicons a {
    width: 1rem;
    height: auto;
    transform: scale(0.75);
  }
  .cicons a:hover {
    animation: none;
}

  .cmain {
    padding-top: 0;
    padding-bottom: 2.2rem;
  }
  .cmain h1 {
    font-size: 2rem;
  }
  .cmain h2 {
    font-size: 1.15rem;
  }
  .where h1 {
    padding-top: 0;
  }
  .where h2 {
    text-align: justify;
  }
  .traits {
    flex-direction: column;
  }
  .help {
    margin-bottom: 5rem;
  }
  .help h1 {
    padding-left: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  .traits h2{
    font-size: 0.9rem;
  }
  .traits p {
    font-size: 0.75rem;
  }
  .skills {
    margin-bottom: 20rem;
  }
  .skills h1 {
    padding-left: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  .works {
    height: 100vh;
    padding-bottom: 5rem;
  }
  .worksCards {
    flex-direction: column;
    height: 80vh;
  }
  .worksCards p {
    font-size: 0.75rem;
  }
  #capriCard, #simpCard {
    height: 35vh;
  }

  .currentWork {
    background-attachment: local;
  }
  .capriMedia, .simpcxty {
    width: 60%;
    height: 45vh;
  }
  .capriMedia p, .simpcxty p {
    font-size: 0.75rem;
  }


  .cresume {
    padding-top: 2rem;
  }
  .cresume h1 {
    width: 100vw;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
  }
  .cresume section {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .cresume li {
    font-size: 0.75rem;
  }
  .cresume button {
    font-size: 1rem;
  }
  #signoff {
    margin-top: 2rem;
    gap: 0.1rem;
  }
  #signoff h1{
    font-size: 1.25rem;
    padding: 1rem;
    text-align: center;
  }



  .cfooterTop {
    padding: 1rem;
  }
  #ccopyright {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .popup {
    border: none;
  }
  .popupcontents {
    margin: 1rem;
    font-size: 1rem;
  }
  .popupcontents h1 {
    font-family: 'Gopher';
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
  }
  .popupcontents h2 {
    font-size: 1rem;
    line-height: 2rem;
  }

  .rhap_progress-indicator {
    display: none;
  }
  .rhap_volume-indicator {
    display: none;
  }
  .rhap_progress-section {
    display: none;
  }
  .rhap_volume-bar-area {
    display: none;
  }
  .rhap_volume-container {
    display: none;
  }
}