.cheader {
    background-color: #f4f0e0;
    border-top: #183a37 0.3rem solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    width: min(100%, 160rem);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.cheader h1 {
    font-family: 'Gopher';
    font-size: 3.75rem;
    color: #432534;
    margin: 0;
    cursor: pointer;
    margin-left: 5rem;
}
.cheader button {
    width: 12rem;
    height: 3rem;
    font-family: 'Gopher';
    background-color: #432534;
    color: #f4f0e0;
    border: #C44900 0.1rem solid;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transform: scale(0.75);
    transition: all 0.5s;
    cursor: pointer;
}
.cheader button:hover {
    background-color: #04151F;
    border-color: #183a37;
    color: #f4f0e0;
    transform: scale(1);
}
.cheader button:active {
    background-color: #183a37;
    color: #f4f0e0;
    border-color: #432534;
    transform: scale(0.85);
}
.cicons {
    display: flex;
    gap: 1.5rem;
}
.cicons a {
    color: #C44900;
    transition: all 0.2s;
}
.cicons a:hover {
    animation: shake 1s both ;
    cursor: pointer;
}
@keyframes shake {
    0% { transform: rotate(0deg); }
   50% { transform: rotate(0deg);
        color:#183a37; }
   85% { transform: rotate(25deg) scale(1.05);
        color:#183a37; }
   90% { transform: scale(1.25);
        color:#183a37;}
   95% { transform: rotate(-25deg) scale(1.3);
        color:#183a37; }
  100% { transform: rotate(0deg) scale(1.5);
        color:#183a37; }
  }




.cmain {
    padding-top: 5rem;
    background-color: #04151F;
    color: #f4f0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cmain h1 {
    font-family: 'Lato';
    font-size: 3rem;
    text-align: center;
    padding-top: 5rem;
}


.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 5rem;
    margin-top: 5rem;
    margin-bottom: 15rem;
}
.cmain h2 {
  margin: 0;
  font-size: 3rem;
}
#about {
  font-family: 'Lato';
  font-size: 1.5rem;
  text-align: justify;;
  margin-left: 18.5rem;
  margin-right: 18.5rem;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
  line-height: 2.75rem;
}



.carousel {
  width: 75rem;
  height: auto;
  font-size: 1.25rem;
  text-align: justify;
  font-family: 'Lato';
}
.carousel a {
  color: #C44900
}
.img {
  width: 75rem;
  height: auto;
}
.caro {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.caro button {
  width: 20rem;
  height: 6rem;
  font-size: 2rem;
  background-color: #432534;
  color: #f4f0e0;
  border: #C44900 0.1rem solid;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transform: scale(0.75);
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
}
.caro button:hover {
  background-color: #f4f0e0;
  border-color: #04151F;
  color: #C44900;
  transform: scale(1);
}
.caro button:active {
  background-color: #183a37;
  color: #f4f0e0;
  border-color: #432534;
  transform: scale(0.85);
}
#cjacapri {
  font-family: 'Orpheus';
}
#simp {
  font-family: 'Kristi';
  text-align: center;
  font-size: 3rem;
  position: relative;
  bottom: 0.15rem;
}


/* .capri-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  .capricircle,
  .caprirectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #226f54;
    color: #f4f0e0;
    border-radius: 50%;
    width: 35rem;
    height: 35rem;
    transition: all 0.4s linear;
    cursor: pointer;
    overflow: hidden;
  }
  .caprirectangle {
    flex-direction: column;
    width: 100rem;
    height: 60rem;
    border-radius: 0.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    z-index: 150;
  }
  .caprirectangle img {
    width: 75rem;
    height: auto;
  }
  .capricircle:hover {
    transform: scale(1.1);
  }


  .simp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  .simpcircle,
  .simprectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #226f54;
    color: #f4f0e0;
    border-radius: 50%;
    width: 35rem;
    height: 35rem;
    transition: all 0.4s linear;
    cursor: pointer;
    overflow: hidden;
  }
  .simprectangle {
    flex-direction: column;
    width: 100rem;
    height: 60rem;
    border-radius: 0.1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
    z-index: 150;
  }
  .simprectangle img {
    width: 75rem;
    height: auto;
  }
  .simpcircle:hover {
    transform: scale(1.1);
  }
  #simpcxty {
    font-family: 'SpecialElite';
  } */



  .popup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    z-index: 100;
    border: #C44900 0.2rem dotted;
    background-color: #432534;
    color: #f4f0e0;
    position: absolute;
    max-width: 100%;
    width: 100%rem;
    height: 45rem;
    transition: all 0.4s;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
    margin-top: 5rem;
    cursor: pointer;
  }
  .popupcontents {
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: 'Lato';
    font-size: 1.1rem;
  }
  .popupcontents h1 {
    font-family: 'Gopher';
    font-size: 5rem;
    margin: 0;
  }
  .popupcontents h2 {
    font-size: 2.75rem;
  }
  .popupcontents a {
    color: #C44900
  }
  .popupcontents a:active {
    color: #f4f0e0;
  }








  .cfooter {
    background-color: #432534;
  }
  .cfooterTop {
    display: flex;
    justify-content: center;
    padding: 5rem;
  }
  #cass {
    color: #f4f0e0;
    font-size: 3rem;
    margin: 0;
    cursor: pointer;
  }
  #ccopyright {
    color: #f4f0e0;
  }
  #copyright a {
    color: #f4f0e0;
  }