@font-face {
    font-family: 'Orpheus';
    src: url(./Fonts/Fontspring-DEMO-orpheuspro-regular.otf);
}
@font-face {
    font-family: 'Orpheus-medium';
    src: url(./Fonts/Fontspring-DEMO-orpheuspro-medium.otf);
}
@font-face {
    font-family: 'Lato';
    src: url(./Fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato-Light';
    src: url(./Fonts/Lato-Thin.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(./Fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Gopher';
    src: url(./Fonts/Gopher-Medium.ttf);
}
@font-face {
    font-family: 'Gopher-Light';
    src: url(./Fonts/Gopher-Light.ttf);
}
:root {
    font-size: 100%;
    background-color: black;
}
main {
    background-color: white;
}



/* Header/Navbar CSS Styling */
header {
    font-family: 'Orpheus';
}
header a {
    text-decoration: none;
    color: black;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
}
/* Moving social icons closer to the contact button */
.navbar > *:nth-child(3) {
    margin-right: -10rem;
}
#title {
    font-size: 3.5rem;
}
.pages {
    margin-right: 1rem;
}
.pages ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    font-family: 'Lato Bold';
}
.pages li {
    list-style: none;
}
.icons {
    display: flex;
    height: auto;
    gap: 1.5rem;
    margin-left: 10rem;
}
/* Button styling; contact button has click animation and inverts colors when hoverd over and clicked. */
.navButton {
    border: .15rem black solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    color: black;
    font-family: 'Orpheus';
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1.25rem 2.5rem;
}
.navButton:hover {
    background-color: black;
    color: white;
}
.navButton:active {
    background-color:white;
    color: black;
    transform: scale(0.85);
}


/* CSS Syling for Latest Release/hero section */
.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffb9e5 ;
}
.heroContainer:hover {
    animation-name: pic-cycle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor: pointer;
}
@keyframes pic-cycle {
    10% {background-color: #ffb9e5}
    20% {background-color: #d9b4eb}
    30% {background-color: #aeafe8}
    40% {background-color: #83aadd}
    50% {background-color: #5da3c8}
    60% {background-color: #3c8dbc}
    70% {background-color: #83aadd}
    80% {background-color: #aeafe8}
    90% {background-color: #d9b4eb}
    100% {background-color: #ffb9e5}
}
/* Shows that pictures can be quickly cycled through to have a looping slideshow type effect. End goal to have stills of a rendered video that loops through to give slideshow/stopmotion type effect */
.heroText {
    font-size: 10rem;
    font-family: 'Orpheus';
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url('../src/Images/PLACEHOLDER.jpg');
    background-size: cover; */
}


/* Archive Page Styling */
.archiveContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 2.75rem;
    margin-left: 10.85rem;
    margin-right: 20rem;
    gap: 1.55rem;
}
.archiveContainer p {
    font-family: 'Orpheus';
    font-size: 4rem;
}
.archiveContainer h2 {
    font-family: 'Gopher-Light';
    font-size: 1.5rem;
    text-align: center;
}


/* Donation Page CSS Styling */
main a {
    color: black;
}
.donoContainer {
    display: flex;
    flex-direction: column;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 2.75rem;
    margin-left: 10.85rem;
    margin-right: 20rem;
    font-family: 'Lato';
}
.donoContainer section {
    width: 9rem;
}
#h1 {
    font-size: 4rem;
    font-family: 'Orpheus';
    margin-bottom: 2rem;
}
#sig {
    font-family: 'Orpheus';
    font-size: 2.25rem;
}


/* Contact Page CSS Styling */
.contactContainer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 2.75rem;
    margin-left: 10.85rem;
    margin-right: 20rem;
    font-family: 'Lato';
}
#conHeader {
    font-size: 4rem;
    font-family: 'Orpheus';
}
.contactContainer p {
    font-size: 1.15rem;
    width: 75rem;
    line-height: 2rem;
}
.contactContainer button {
    width: 15rem;
    margin-bottom: 8rem;
}
.contactForm {
    height: 10rem;
    width: 100%;
}
.contactForm form{
    z-index: 100;
    border: ghostwhite solid;
    background-color: whitesmoke;;
    position: relative;
    height: 50rem;
    bottom: 45rem;
    opacity: 0.96;
    transition: all 0.4s;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
}
.formContents {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#contactForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'Gopher';
}
#contactForm input {
    width: 25rem;
    height: 2rem;
}
.conButton {
    border: .15rem black solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    color: black;
    font-family: 'Orpheus';
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1.25rem 2.5rem;
}
.conButton:hover {
    background-color: black;
    color: white;
}
.conButton:active {
    background-color:white;
    color: black;
    transform: scale(0.85);
}
#messageForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    width: 25rem;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Gopher';
    text-align: start;
}
.formClose {
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
}



.privacyContainer {
    display: flex;
    flex-direction: column;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 2.75rem;
    margin-left: 10.85rem;
    margin-right: 20rem;
    font-family: 'Lato';
    background-color: white;
}
.privacyContainer i {
    font-family: 'Gopher-Light';
}
.privacyContainer h4 {
    font-size: 1.15rem;
}



/* Footer section CSS styling */
footer {
    font-family: 'Gopher';
}
footer a {
    color: white !important;
}
.footerContainer {
    background-color: black !important;
    color: white;
}
.footerTop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
}
#capri{
    display: flex;
    flex-direction: column;
    font-family: 'Orpheus';
    font-size: 3rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
#capri:hover {
    font-family: 'Lato-Light';
    font-size: 2.95rem;
}
.footerLinks a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: all 0.2s;
}
.footerLinks a:active {
    transform: scale(0.85);
}
.footerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2rem;
}
#footerForm input{
    width: 25rem;
    margin-right: 1.625rem;
    height: 2rem;
}
.footerButton {
    border: .15rem white solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: black;
    color: white;
    font-family: 'Orpheus';
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1.25rem 2.5rem;
    margin-left: 1.625rem;
}
.footerButton:hover {
    background-color: white;
    color: black;
}
.footerButton:active {
    background-color:black;
    color: white;
    transform: scale(0.85);
}
#copyright {
    padding: 1.5rem;
}

@media screen and (min-width: 1020px) {
    #mobile {
        display: none;
    }
}

/* Mobile/Tablet styling Below */
@media screen and (max-width: 1020px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 5rem;
    }
    #title {
        position: relative;
        bottom: 3rem;
    }
    .icons {
        display: none;
    }
    .pages {
        display: none;
    }
    .navButton {
        display: none;
    }
    .footerTop {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #footerForm input {
        width: 100%;
    }
    #capri:hover {
        font-size: 3.09rem;
    }
    .heroContainer {
        width: 100%;
    }
    .heroText {
        font-size: 3.5rem;
        text-align: center;
    }
    main {
        width: 100%;
        padding-top: 5rem;
    }
    .archiveContainer {
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .archiveContainer p {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
    #lock {
        width: 5rem;
        height: 5rem;
    }
    .contactContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
        padding-top: 1rem;
    }
    .contactContainer p {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
    .contactForm {
        height: 100%;
        width: 100%;
    }
    .contactForm form {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: whitesmoke;
        border: ghostwhite solid;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        font-size: 1.5rem;
        z-index: 9999;
    }
    #contactForm input {
        width: 100%;
    }
    #messageForm {
        width: 10rem;
        height: 5rem;
        margin-left: 1rem;
        align-items: center;
    }
    #conHeader {
        font-size: 2rem;
    }
    .donoContainer {
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .donoContainer p {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
    .privacyContainer {
        flex-wrap: wrap;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        max-width: 100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .privacyContainer h4 {
        font-size: 1rem;
    }
    .privacyContainer p {
        font-size: 0.85rem;
        width: 100%;
        text-align: center;
    }
    #h1 {
        font-size: 2rem;
    }
}
@media screen and (min-width:1021px) and (max-width: 1700px) {
    .heroText {
        font-size: 5rem;
        text-align: center;
    }
}


.mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: whitesmoke;
    border: ghostwhite solid;
    gap: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
    z-index: 9999;
}
.mobileMenu nav {
    width: 100%;
}
.mobileMenu a {
    list-style: none;
    text-align: center;
    transition: all 0.2s;
}
.mobileMenu li {
    list-style: none;
    text-align: center;
    padding-right: 3.5rem;
}
.mobileMenu a:hover {
    text-decoration: underline;
}
.mobileMenu a:active{
    transform: scale(0.85);
}
.mobileNav{
        display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}
#mobile {
    cursor: pointer;
    transition: all 0.2s;
    color: black;
    margin-top: 1rem;
}
#mobile:active {
    transform: scale(0.85);
}
#mobileButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
#menuClose {
    cursor: pointer;
    display: flex;
    justify-content: left;
}
.mobileIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 1.5rem;
}