/* Font Imports */
@font-face {
    font-family: 'Orpheus';
    src: url(./Fonts/Fontspring-DEMO-orpheuspro-regular.otf);
}
@font-face {
    font-family: 'Orpheus-medium';
    src: url(./Fonts/Fontspring-DEMO-orpheuspro-medium.otf);
}
@font-face {
    font-family: 'Lato';
    src: url(./Fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato-Light';
    src: url(./Fonts/Lato-Thin.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(./Fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Gopher';
    src: url(./Fonts/Gopher-Medium.ttf);
}
@font-face {
    font-family: 'Gopher-Light';
    src: url(./Fonts/Gopher-Light.ttf);
}

.Loader {
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    text-align: center;
}
.Loader p {
    font-family: "Orpheus";
    font-size: 4rem;
}
.Loader h2 {
    font-family: "Gopher";
    font-size: 1.5rem;
}
.loadContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

:root {
    font-size: 100%;
    background-color: black;
}
main {
    background-color: white;
}






/* Header/Navbar CSS Styling */
header {
    font-family: 'Orpheus';
}
header a {
    text-decoration: none;
    color: black;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
}


/* Moving social icons closer to the contact button */
.navbar > *:nth-child(3) {
    margin-right: -10rem;
}
#title {
    font-size: 3.5rem;
}
.pages {
    margin-right: 1rem;
}
.pages ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    font-family: 'Lato Bold';
}
.pages li {
    list-style: none;
}
.pages a:hover {
    opacity: 0.75;
}
.pages a:active {
    opacity: 0.5;
}
.icons {
    display: flex;
    height: auto;
    gap: 1.5rem;
    margin-left: 10rem;
}
.icons a:hover {
    opacity: 0.75;
}
.icons a:active {
    opacity: 0.5;
}


/* Button styling; contact button has click animation and inverts colors when hoverd over and clicked. */
.navButton {
    border: .15rem black solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    color: black;
    font-family: 'Orpheus';
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1.25rem 2.5rem;
}
.navButton:hover {
    background-color: black;
    color: white;
}
.navButton:active {
    background-color:white;
    color: black;
    transform: scale(0.85);
}














/* CSS Syling for Latest Release/hero section */
.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./Images/IMG_0084.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 70%;
}
/* .heroContainer:hover {
    animation-name: pic-cycle;
    animation-duration: 5s;
    animation-timing-function: step-start;
    animation-iteration-count: 1;
    cursor: pointer;
}
@keyframes pic-cycle {
    15% {background-image: url(./Images/IMG_0068.jpeg);
        background-position: 50% 70%;}
    30% {background-image: url(./Images/IMG_0067.jpeg);
        background-position: 50% 70%;}
    50% {background-image: url(./Images/IMG_0093.jpeg);
        background-position: center;}
    60% {background-image: url(./Images/IMG_0047.jpeg);
        background-position: center;}
    70% {background-image: url(./Images/IMG_0048.jpeg);
        background-position: center;}
    80% {background-image: url(./Images/IMG_0059.jpeg);
        background-position: center;}
    90% {background-image: url(./Images/IMG_0046.jpeg);}
    100% {background-image: url(./Images/IMG_0085.jpeg);}
} */
/* Shows that pictures can be quickly cycled through to have a looping slideshow type effect.
End goal to have stills of a rendered video that loops through to give slideshow/stopmotion type effect */
.heroText {
    font-size: 10rem;
    font-family: 'Orpheus';
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(./Images/IMG_0085.jpeg);
    background-size: cover; */
}



/* Archive Page Styling */
.archiveContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.55rem;
}
.archiveContainer p {
    font-family: 'Orpheus';
    font-size: 4rem;
}
.archiveContainer h2 {
    font-family: 'Gopher-Light';
    font-size: 1.5rem;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
}



/* Donation Page CSS Styling */
main a {
    color: black;
}
.donoContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Lato';
    font-size: 1.25rem
}
.donoContainer p {
    max-width: 90%;
    padding-left: 10rem;
    padding-right: 5rem;
}
.donoContainer section {
    width: 9rem;
}
.rainn {
    width: 50vw;
    height: auto;
    margin-left: 25vw;
}
.citation {
    font-family: "Lato";
    padding-left: 5rem;
    padding-bottom: 2rem;
}
.donoContainer blockquote {
    font-family: "Gopher";
    font-size: 1.5rem
}
#h1 {
    font-size: 4rem;
    font-family: 'Orpheus';
    margin-bottom: 2rem;
}
#sig {
    font-family: 'Orpheus';
    font-size: 2.25rem;
    padding-left: 10rem;
}
.donoButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-bottom: 10rem;
}



/* Contact Page CSS Styling */
.contactContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Lato';
}
#conHeader {
    font-size: 4rem;
    font-family: 'Orpheus';
    margin-bottom: 2rem;
    margin-top: 3.25rem;
}
.contactContainer p {
    font-size: 1rem;
    width: 75rem;
    line-height: 2rem;
    padding-left: 10rem;
}
.contactContainer button {
    width: 15rem;
    margin-bottom: 8rem;
    margin-left: 10rem;
}



/* Contact Form CSS Styling */
.contactForm {
    height: 10rem;
    width: 50vw;
    margin-left: 25vw;
}
.contactForm form{
    z-index: 100;
    border: ghostwhite solid;
    background-color: black;
    color: white;
    position: relative;
    height: 50rem;
    bottom: 35rem;
    opacity: 0.96;
    transition: all 0.4s;
    box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.25);
}
.formContents {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
#contactForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'Gopher';
}
#contactForm input {
    width: 25rem;
    height: 2rem;
}
.conButton {
    border: .15rem black solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    color: black;
    font-family: 'Orpheus';
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1.25rem 2.5rem;
}
.conButton:hover {
    background-color: black;
    color: white;
}
.conButton:active {
    background-color:white;
    color: black;
    transform: scale(0.85);
}
.formButton {
    border: .15rem white solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: black;
    color: white;
    font-family: 'Orpheus';
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1.25rem 2.5rem;
}
.formButton:hover {
    background-color: white;
    color: black;
}
.formButton:active {
    background-color: black;
    color: white;
    transform: scale(0.85);
}
.formButton:disabled {
    background-color: grey;
    color: ghostwhite;
    border: whitesmoke dotted;
    cursor: not-allowed;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}


/* Mobile version of the contact button; different screens render a scroll-less version of the button */
.mobileCon {
    border: .15rem black solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    color: black;
    font-family: 'Orpheus';
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1.25rem 2.5rem;
}
.mobileCon:hover {
    background-color: black;
    color: white;
}
.mobileCon:active {
    background-color:white;
    color: black;
    transform: scale(0.85);
}
.mobileForm {
    border: .15rem white solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: black;
    color: white;
    font-family: 'Orpheus';
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1.25rem 2.5rem;
}
.mobileForm:hover {
    background-color: white;
    color: black;
}
.mobileForm:active {
    background-color:black;
    color: white;
    transform: scale(0.85);
}
.mobileForm:disabled{
    background-color: grey;
    color: ghostwhite;
    border: whitesmoke dotted;
    cursor: not-allowed;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0rem;}
#messageForm {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 25rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'Gopher';
    text-align: start;
}
.formClose {
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-top: 1rem;
    margin-left: 50rem;
    transition: all 0.2s;
}
.formClose:active{
    transform: scale(0.85);
}



/* Both Privacy & Cookie Policy page CSS Styling */
.privacyContainer {
    display: flex;
    flex-direction: column;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-bottom: 2.75rem;
    margin-left: 10.85rem;
    margin-right: 20rem;
    font-family: 'Lato';
    background-color: white;
}
.privacyContainer i {
    font-family: 'Gopher-Light';
}
.privacyContainer h4 {
    font-size: 1.15rem;
}



/* Footer section CSS styling */
footer {
    font-family: 'Gopher';
}
footer a {
    color: white !important;
}
.footerContainer {
    background-color: black !important;
    color: white;
}
.footerTop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem;
}
#capri{
    display: flex;
    flex-direction: column;
    font-family: 'Orpheus';
    font-size: 3rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
#capri:hover {
    font-family: 'Lato-Light';
    font-size: 2.96rem;
}
.footerLinks a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transition: all 0.2s;
}
.footerLinks a:active {
    transform: scale(0.85);
}


/* CSS Styling for email subform in footer section */
.footerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2rem;
}
#footerForm input{
    width: 25rem;
    margin-right: 1.625rem;
    height: 2rem;
}
.footerButton {
    border: .15rem white solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: black;
    color: white;
    font-family: 'Orpheus';
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1.25rem 2.5rem;
    margin-left: 1.625rem;
}
.footerButton:hover {
    background-color: white;
    color: black;
}
.footerButton:active {
    background-color:black;
    color: white;
    transform: scale(0.85);
}
.footerButton:disabled {
    background-color: grey;
    color: ghostwhite;
    border: whitesmoke dotted;
    cursor: not-allowed;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0rem;}
#copyright {
    padding: 1.5rem;
}



/* Hides mobile/tablet menu button when on Large screens */
@media screen and (min-width: 1020px) {
    #mobile {
        display: none;
    }
    .mobileCon {
        display: none;
    }
    .mobileForm {
        display: none;
    }
    #mobileCapri {
        display: none;
    }
    #mobileSig {
        display: none;
    }
}


/* Medium/Small Laptop screen formatting for smooth transitions */
@media screen and (min-width:1021px) and (max-width: 1700px) {
    .heroText {
        font-size: 6.5rem;
        text-align: center;
    }
    .archiveContainer p {
        font-size: 1.75rem;
    }
    .donoContainer {
        padding: 2rem;
        text-align: left;
        max-width: 90%;
        height: 100vh;
    }
    #h1 {
        font-size: 3.25rem;
    }
    #conHeader {
        font-size: 3.25rem;
    }
    .contactContainer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-width: 100%;
        padding: 2rem;
        margin: 0;
    }
    .contactContainer p {
        text-align: justify;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .contactForm form {
        bottom: 32rem;
        opacity: 1;
    }
    .formClose {
        margin-left: 25rem;
    }
}


/* Mobile/Tablet styling Below */
@media screen and (max-width: 1020px) {
    .Loader h2 {
        font-size: 1rem;
    }
    .loadContent {
        justify-content: flex-start;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        z-index: 9998;
        width: 100%;
        height: 3rem;
        gap: 0.75rem;
    }
    #title {
        font-size: 1.75rem;
        margin-top: 0.37rem;
    }
    .icons {
        display: none;
    }
    .pages {
        display: none;
    }
    .navButton {
        display: none;
    }
    .heroContainer {
        max-width: 100%;
        flex-wrap: wrap;
        background-image: url(./Images/IMG_0085.jpeg);
        background-attachment: local;
        background-position: 58% 50%;
    }
    .heroContainer:hover {
        animation-duration: 0s;
    }
    /* Disables cycling effect on mobile */
    .heroText {
        font-size: 4rem;
        text-align: center;
        width: 100%;
    }


    main {
        width: 100%;
        padding-top: 2rem;
    }


    .archiveContainer {
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 100%;
        margin: 0;
    }
    .archiveContainer h2 {
        font-size: 1rem;
    }
    .archiveContainer p {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
    #lock {
        width: 5rem;
        height: 5rem;
    }


    .contactContainer {
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin: 0;
    }
    .contactContainer p {
        font-size: 0.8rem;
        width: 90%;
        text-align: justify;
        padding: 0;
    }
    .contactContainer button {
        margin: 0;
    }
    .contactForm {
        height: 100%;
        width: 100%;
    }
    .conButton {
        display: none;
    }
    .formButton {
        display: none;
    }
    .contactForm form {
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        font-size: 1.5rem;
        z-index: 9999;
    }
    #contactForm {
        gap: 0;
        font-size: 1rem;
    }
    #contactForm input {
        width: 100%;
    }
    #messageForm {
        width: 11rem;
        height: 3rem;
        font-size: 1rem;
        align-items: center;
        margin: 0;
    }
    .formClose {
        margin-left: 15rem;
    }
    #conHeader {
        font-size: 2rem;
        text-align: justify;
    }


    .donoContainer {
        gap: 1rem;
        width: 100%;
        margin: 0;
        height: 100vh;
    }
    .donoContainer blockquote {
        display: none;
    }
    .donoContainer p {
        font-size: 1rem;
        width: 100%;
        text-align: justify;
        padding: 1rem;
    }
    .donoButtons {
        gap: 3rem;
        margin: 0;
        padding-bottom: 5rem;
    }
    #sig {
        display: none;
    }
    #mobileSig {
        font-family: 'Orpheus';
        font-size: 2.25rem;
    }
    .rainn{
        width: 80%;
        margin-left: 10%
    }
    .citation {
        padding-left: 1rem
    }


    .privacyContainer {
        flex-wrap: wrap;
        margin-left: 0rem;
        margin-right: 0rem;
        max-width: 100%;
        padding: 1rem;
    }
    .privacyContainer h4 {
        font-size: 0.9rem;
    }
    .privacyContainer p {
        font-size: 0.75rem;
        width: 100%;
        text-align: justify;
    }
    #h1 {
        font-size: 2rem;
    }


    .footerTop {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 1rem;
    }
    .footerForm {
        font-size: 0.75rem;
    }
    #footerForm input {
        width: 100%;
    }
    #mobileCapri{
        display: flex;
        flex-direction: column;
        font-family: 'Orpheus';
        font-size: 3rem;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    #capri {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .Loader p {
        font-size: 2rem;
    }
    .heroText {
        font-size: 2rem;
        margin-bottom: 5rem;
    }
    .formClose {
        margin-left: 13rem;
    }
}

/* Mobile/tablet Menu and Nav CSS Styling */
.mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    gap: 1.5rem;
    position: absolute;
    margin-top: 3rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-size: 1.15rem;
    z-index: 100;
}
.mobileMenu nav {
    width: 100%;
}
.mobileMenu a {
    list-style: none;
    text-align: left;
}
.mobileMenu li {
    list-style: none;
    font-family: 'Lato';
    text-align: center;
    padding-right: 3.5rem;
    transition: all 0.2s;
    text-align: left;
    padding: 0;
}
.mobileMenu li:active {
    transform: scale(0.85);
}
.mobileNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    gap: 5rem;
}
.mobileNav ul{
    margin-left: 1rem;
    padding: 0;
}
.mobileNav li:hover {
    opacity: 0.75;
}
.mobileNav li:active {
    opacity: 0.5;
}
#line {
    color: black;
    width: 100%;
}
#mobile {
    cursor: pointer;
    color: black;
    transform: scale(.5);
}
#mobile:active {
    transform: scale(0.35);
}
.mobileButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.mobileButton {
    border: .15rem black solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    color: black;
    font-family: 'Orpheus';
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1.25rem 2.5rem;
}
.mobileButton:hover {
    background-color: black;
    color: white;
}
.mobileButton:active {
    background-color:white;
    color: black;
    transform: scale(0.85);
}
#menuClose {
    cursor: pointer;
    display: flex;
    justify-content: left;
}
.mobileIcons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 1.5rem;
}