@font-face {
    font-family: 'Orpheus';
    src: url(./Fonts/Fontspring-DEMO-orpheuspro-regular.otf);
}
@font-face {
    font-family: 'Orpheus-medium';
    src: url(./Fonts/Fontspring-DEMO-orpheuspro-medium.otf);
}
@font-face {
    font-family: 'Lato';
    src: url(./Fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: 'Lato Bold';
    src: url(./Fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: 'Gopher';
    src: url(./Fonts/Gopher-Medium.ttf);
}
:root {
    font-size: 100%;
}



/* Header/Navbar CSS Styling */
header {
    font-family: 'Orpheus';
}
header a {
    text-decoration: none;
    color: black;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
/* Moving social icons closer to the contact button */
.navbar > *:nth-child(3) {
    margin-right: -10rem;
}
#title {
    font-size: 3.5rem;
}
.pages ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    font-family: 'Lato Bold';
}
.pages li {
    list-style: none;
}
.icons {
    display: flex;
    height: auto;
    gap: 1.5rem;
}
/* Button styling; contact button has click animation and inverts colors when hoverd over and clicked. */
.navButton {
    border: .15rem black solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: white;
    color: black;
    font-family: 'Orpheus';
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    padding: 1.25rem 2.5rem;
}
.navButton:hover {
    background-color: black;
    color: white;
}
.navButton:active {
    background-color:white;
    color: black;
    transform: scale(0.85);
}


/* CSS Syling for Latest Release/hero section */
.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffb9e5 ;
}
.heroContainer:hover {
    animation-name: pic-cycle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pic-cycle {
    10% {background-color: #ffb9e5}
    20% {background-color: #d9b4eb}
    30% {background-color: #aeafe8}
    40% {background-color: #83aadd}
    50% {background-color: #5da3c8}
    60% {background-color: #3c8dbc}
    70% {background-color: #83aadd}
    80% {background-color: #aeafe8}
    90% {background-color: #d9b4eb}
    100% {background-color: #ffb9e5}
}
/* Shows that pictures can be quickly cycled through to have a looping slideshow type effect. End goal to have stills of a rendered video that loops through to give slideshow/stopmotion type effect */


.heroText {
    font-size: 10rem;
    font-family: 'Orpheus';
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url('../src/Images/PLACEHOLDER.jpg');
    background-size: cover; */
}

footer {
    font-family: 'Gopher';
}
footer a {
    color: black !important;
}